.photos-robbies {
    padding: 50px 0px 50px 0px;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 200px 200px;
    gap: 15px;
    justify-content: center;
}

.photos-robbie {
    width: 200px;  
    height: auto;
    padding: 15px;
}

.h1-propos {
    margin-left: 450px;
    position: relative;
    bottom: 300px;
}

.presentation {
    background-color: #1F2039;
    justify-content: center;
    border-right: 2px #8E86B5 solid;
    max-width: 600px;
    max-height: 600px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: -200px;
}

.presentation p {
    padding: 20px;
    text-align: left;
}

.presentation h2 {
    text-align: center;
}

.photo-link2{
    position: relative;
    margin: -13px;
}

.voir-photo2 {
    background-color: black;
    color: white;
    opacity: 70%;
    position: absolute;
    top: 0.62em;
    right: 0;
    bottom: 0;
    left: 0.65em;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 1.5em;
    display: none;
    width: 170px;
    height: 170px;
}

.photo-link2:hover .voir-photo2 {
    display: flex;
}

@media screen and (max-width: 770px) {
    .photo-link2:nth-child(1), .photo-link2:nth-child(2){
        display: none;
    }

    .photos-robbies {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        align-items: center;
        justify-content: space-around;
        max-width: 770px;
        padding-left: 50px;
    }
}
@media screen and (max-width: 480px) {

    .photo-link2:nth-child(5), .photo-link2:nth-child(6){
        display: none;
    }

    .photos-robbies {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        align-items: center;
        justify-content: space-around;
        max-width: 480px;
        padding-left: 25px;
    }
}

