
body {
    background-color: #1F2039;
    color: white;
    margin: 0;
}

header {
    background-color: white;
}

main {
    height: 25%;
    width: auto;
}
p {
    color: #F9F8FF;
    text-align: center;
}

a {
    font-size: 1em;
    font-family: "Manrope";
    text-decoration: none;
}

a:visited {
    font-size: 1em;
    font-family: "Manrope";
    color: black;
}

p {
    font-size: 1.1em;
    font-family: "Manrope"; 
    padding: 5px;
}

h1 {
    color: #A5B4FC;
    font-size: 3.5em;
    font-family: "Montserrat";    
}

h2 {
    color: #A5B4FC;
    font-size: 2.5em;
    font-family: "Montserrat";
    margin: 5px 0 5px 0;
}

h3 {
    color: #A5B4FC;
    font-size: 1.5em;
    font-family: "Montserrat";
}

h4 {
    color: #A5B4FC;
    font-size: 1em;
    font-family: "Montserrat";
}

ul {
    font-size: 1em;
    font-family: "Manrope";
}

em {
    font-weight: 600;
}

.a-propos {
    display: inline-block;
    height: 25px;
    width: 70px;
    text-align: center;
    color: black;
    padding: 5px;
    margin-left: 20px;
    position: relative;
    bottom: 15px;
    border: 1.5px black solid;
    border-radius: 10px;
    
}

.a-propos:visited {
    color: black;
}

.a-propos:hover {
    font-weight: 900;
    text-decoration: none;
    border: 2px black solid;

}

.head-tarif {
    display: inline-block;
    height: 25px;
    width: 70px;
    text-align: center;
    color: black;
    padding: 5px;
    margin-left: 20px;
    position: relative;
    bottom: 15px;
    border: 1.5px black solid;
    border-radius: 10px;
}

.head-tarif:visited {
    color: black;
}

.head-tarif:hover {
    font-weight: 900;
    text-decoration: none;
    border: 2px black solid;
}

.logo-reseaux {
    padding-left: 10px;
}
.link_insta {
    padding: 5px 20px 0px 20px;
}

.link-logo {
    text-align: right;
}

.logo-reseaux, .link-logo {
    flex: 1; 
}

.link_x:hover {
    opacity: 0.5;
}

.link_insta:hover {
    opacity: 0.5;
}

.reseaux {
    background-color: white;
    padding-top: 15px;
    margin-top: 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.monportfolio {
    display: inline-block;
    height: 25px;
    width: 120px;
    text-align: center;
    color: black;
    padding: 5px;
    margin-left: 20px;
    position: relative;
    bottom: 15px;
    border: 1.5px black solid;
    border-radius: 10px;
}

.monportfolio:visited {
    color: black;
}

.monportfolio:hover {
    font-weight: 900;
    text-decoration: none;
    border: 2px black solid;
}


.photos-paysage {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    display: grid;
    grid-template-columns: 325px 325px 325px;
    grid-template-rows: 325px 325px;
    grid-auto-rows: 1fr;
    justify-content: center;
    gap: 20px;
    background-color: white;
    padding: 20px 0px 20px 0px;
    margin-top: -10px;
}






